/* Globals */

html {
	height: 100%;
	text-align: center;
	font-family: serif;
	background-color: #007affff;
	text-shadow: 0px 0px 8px #808080ff;
	background: url("assets/images/clouds-loop.gif") center center/cover no-repeat;
}

img {
	width: 24px;
	height: 24px;
	transition: 0.24s;
}

h1 {
	font-size: 2rem;
	display: inline-block;
	font-family: Arial, sans-serif;
}

h2 {
	font-size: 1.24rem;
	margin: 0 auto auto auto;
}

a {
	color: #ffffffff;
	text-decoration: none;
}

b { font-size: 1.48rem; }

/* Classes and IDs */

.center-vh {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.content {
	width: 320px;
	padding: 32px;
	display: block;
	color: #ffffffff;
	border-radius: 32px;
	background-color: #ffffff00;
}

.button {
	padding: 8px;
	transition: 0.24s;
	border-radius: 8px;
	display: inline-block;
	box-shadow: 0px 0px 8px #ffffffa3;
	&:hover {
		background-color: #ffffff52;
		box-shadow: 0px 4px 16px #ffffffa3;
	}
}

#logo {
	width: 84px;
	height: 84px;
}

#title > * { vertical-align: middle; }

#number {
	font-size: 2.24rem;
	text-decoration: none;
}

#resources { & a { & img:hover { opacity: 0.48; } } }